.ft-MainBox {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
  box-sizing: border-box;
}

.ft-BoxOne {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.ft-subscribeMainBox {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.ft-inputSubBox {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.ft-inputFiled {
  background-color: white;
  height: 40px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ft-subscribeBtn {
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  font-size: 16px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

.ft-contactUsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 5px;
}

.ft-BoxTwo {
  width: 100%;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ft-mettaBox {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.usaLogo {
  width: 24px;
  height: 24px;
}

.stopIcon {
  rotate: 40deg;
}

.instaLinkBox {
  display: flex;
  gap: 7px;
  margin-top: 20px;
}

.linkInstaIcon {
  width: 30px;
  height: 30px;
}

.paymentInfoBox {
  margin-top: 30px;
}

.paymentIcons {
  width: 100%;
  margin-top: 20px;
}
.ft-beFirstTitleText {
  font-size: 20px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 700;
  margin: 0px;
}
.ft-signUpText {
  font-size: 16px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
}
.ft-contactNumberText {
  font-size: 16px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.ft-commonSubText {
  font-size: 18px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
}
.ft-commonMainTitle {
  font-size: 24px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 10px;
}
.ft-commonSmText {
  font-size: 12px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 10px;
}
.ft-currencyBox {
  font-size: 16px;
  font-family: "SimplonNorm";
  color: white;
  font-weight: 700;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ft-accordion-container {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 10px;
}
.ft-accordion-header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  cursor: pointer;
}

.ft-accordion-header-content {
  flex: 1;
}

.ft-accordion-expand-icon {
  font-size: 24px;
  margin-left: auto;
}

.ft-accordion-details-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.ft-accordion-details {
  padding: 10px;
  background-color: #000000;
}

@media (max-width: 768px) {
  .ft-MainBox {
    width: 100%;
    padding: 30px 20px;
  }

  .ft-BoxTwo {
    padding-top: 5px;
  }

  .ft-BoxOne {
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }

  .ft-mettaBox {
    max-width: 100%;
    margin-bottom: 9px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
  }
  .ft-mettaBox2 {
    max-width: 100%;
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ft-mettaBox3 {
    max-width: 100%;
    margin-bottom: 8px;
    padding-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ft-contactNumberBox {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
  }
  .ft-inputSubBox {
    gap: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  .contentNumberBox {
    display: flex;
  }
  .ft-inputFiled {
    width: 100%;
  }

  .ft-subscribeMainBox,
  .ft-contactUsBox {
    max-width: 100%;
  }
  .paymentIcons {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  .ft-commonMainTitle {
    font-size: 19px;
    margin-bottom: 0px;
  }
}

@media (max-width: 410px) {
  .ft-contactNumberText {
    flex-wrap: wrap;
  }
}
