@font-face {
    font-family: 'InterRegular';
    src: local('InterRegular'), url('./assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'InterExtraLight';
    src: local('InterExtraLight'), url('./assets/fonts//Inter-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'InterLight';
    src: local('InterLight'), url('./assets/fonts/Inter-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'InterMedium';
    src: local('InterMedium'), url('./assets/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'InterSemiBold';
    src: local('InterSemiBold'), url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'InterBold';
    src: local('InterBold'), url('./assets/fonts/Inter-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'InterExtraBold';
    src: local('InterExtraBold'), url('./assets/fonts/Inter-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'SimplonNorm';
    src: local('SimplonNorm'), url('./assets/fonts/SimplonNorm-Regular-WebS.woff') format('woff2');
}
