.productsMainBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .productsMainBox {
        max-width: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .productsMainBox {
        max-width: 400px;
    }
}

@media only screen and (max-width: 425px) {
    .productsMainBox {
        max-width: 300px;
    }
}